{% extends "index.html" %}


{% block main_container %}
<div class="text-page-container">
  <div class="about-info">
    <h2>About</h2>
    <br>
    <p>This app is my playground for exploring the functionalities of <a href="http://threejs.org/">ThreeJS</a>. I have not studied geomatics engineering so this app is not an super accurate 'satellite positioning tool', it's mostly just for fun.</p>
    <br>
    
    <h4>Some known inaccuracies</h4>
    <ul>
      <li>Planets are modeled as spheres and not <a href="https://en.wikipedia.org/wiki/Earth_ellipsoid">ellipsoids</a>.</li>
      <li>The equator and prime meridian are probably not exactly where they should be.</li>
      <li>The texture applied on the planet sphere may lead to scaling issues regarding the relative sizes of different areas on the planet.</li>
    </ul>

    <br>

    <p>The source code to this app can be found on my <a href="https://github.com/matiaslindgren/satellite-routes">github page</a>. Any bugs and problems can be freely posted as <a href="https://github.com/matiaslindgren/satellite-routes/issues">issues</a>.</p>

  </div>
</div>
{% endblock %}

