{% extends "index.html" %}


{% block main_container %}
<div class="text-page-container">
  <div class="about-info">
    <h2>About</h2>
    <br>
    <p>This project started as a debugging tool for validating my solutions to the <a href="https://reaktor.com/orbital-challenge/">Reaktor Orbital Challenge</a>. Then I added some visuals and controls and after that everything got out of hand. It should be noted that I haven't studied geomatics engineering or similar sciences so there might be many inaccuracies with how geographic positions are mapped to the graphical representation of the Earth.</p>
    <br>
    
    <h4>Some known inaccuracies</h4>
    <ul>
      <li>I prioritized cool.</li>
      <li>Earth is modeled as a sphere and not an <a href="https://en.wikipedia.org/wiki/Earth_ellipsoid">ellipsoid</a>.</li>
      <li>The equator and prime meridian are probably not spot on.</li>
      <li>The texture applied on the ThreeJS sphere mesh may or may not lead to scaling issues regarding the relative sizes of different areas on the globe.</li>
    </ul>

    <br>

    <p>The source code to this app can be found on my <a href="https://github.com/matiaslindgren/satellite-routes">github page</a>.</p>

  </div>
</div>
{% endblock %}

