{% extends "index.html" %}

{% block body_id %}
<body id="generator-body">
{% endblock %}

{% block main_container %}
<div class="text-page-container">
  <div class="generate-info">
    <h2>Generator API</h2>
    <br>
    <br>

    <p>When the URI <code>/generator.json</code> is accessed with an AJAX request, the server generates a graph with satellites in different locations. Depending on the request, the locations can be pseudo-randomly selected and at different altitudes or at fixed altitudes forming certain geometric figures. The graph returned by the server is a hashmap with the keys <code>nodes</code> and <code>edges</code>, which is returned as serialized JSON. The content of <code>nodes</code> and <code>edges</code> is explained in more detail below.</p> 

    <br>

    <h3>Data set types</h3>
    <br>
    <h4>Random data</h4>
      <p>Currently 4 different parameters can be given with the request to be passed to the generator to create random values:</p>
      <br>

      <dl class="dl-horizontal">
          <dt>satelliteCount</dt>
            <dd>Amount of satellite nodes to be generated. Must be integer and positive. Defaults to 5.</dd>
          <dt>minAltitude</dt>
            <dd>Minimum altitude above the planet surface for a satellite. Must be a positive number. Defaults to 300.0.</dd>
          <dt>maxAltitude</dt>
            <dd>Maximum altitude above the planet surface for a satellite. Must be a positive number and larger than minAltitude. Defaults to 700.0.</dd>
          <dt>planetRadius</dt>
            <dd>Radius of the planet (sphere) above which satellites are generated. Must be a positive number. Defaults to 6371.0 (Earth's mean radius in kilometers).</dd>
      </dl>

      <br>

    <h4>Polyhedrons</h4>
      <p>It is also possible to generate satellite constellations in form of <a href="https://en.wikipedia.org/wiki/Platonic_solid">platonic solids</a>, where a satellite will be placed at each vertex of the chosen polyhedron. 3 different parameters can be given for generating polyhedrons:
      <br>

      <dl class="dl-horizontal">
          <dt>polyhedron</dt>
            <dd>Name of the polyhedron. Choices are:
                <ul>
                  <li>tetrahedron</li>
                  <li>cube</li>
                  <li>octahedron</li>
                  <li>dodecahedron</li>
                  <li>icosahedron</li>
                </ul>
                The name must be exact, otherwise the server will generate random data as described above. </dd>
          <dt>altitude</dt>
            <dd>Altitude above the planet surface for a satellite. Must be a positive number. Defaults to 0.0.</dd>
          <dt>planetRadius</dt>
            <dd>Radius of the planet (sphere) above which satellites are generated. Must be a positive number. Defaults to 6371.0 (Earth's mean radius in kilometers).</dd>
      </dl>

      <br>

    <h5>Incorrect input</h5>
      <p>The server will replace all incorrect parameter values with their corresponding default values. Also, if the maximum altitude is less than the minimum altitude, the default values for both altitudes will be used.</p>
      <p>Below is a satellite graph with default values generated by the server. The query for the data represented below would be equal to <code>/generate?satelliteCount=20&minAltitude=300.0&maxAltitude=700.0&planetRadius=6371.0</code>. Although this query would redundant because <code>/generate</code> would default to the same values.</p>


    <br>


    <h3>Data set representation</h3>
    <br>
    <h4>Nodes</h4>
    <p>Nodes are given as a sequence of hashmaps, where one hashmap corresponds to a node with the keys <code>name</code> and <code>pos</code>.
    The position is a three dimensional vector in cartesian coordinates following the <a href="https://en.wikipedia.org/wiki/ECEF">ECEF system</a>. Note that in this app the Earth is modeled as a perfect sphere and not an ellipsoid, which would be more realistic. Below is the first node in raw format and a table of all nodes.</p>

    <br>
    <code>{{ nodes|first }}</code>
    <br>
    <br>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>x</th>
          <th>y</th>
          <th>z</th>
        <tr>
      </thead>
      <tbody>
        {% for node in nodes %}
        <tr>
          <td>{{ node.name }}</td>
          <td>{{ node.pos.0|double-format:2 }}</td>
          <td>{{ node.pos.1|double-format:2 }}</td>
          <td>{{ node.pos.2|double-format:2 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <br>

    <h4>Edges</h4>
    <p>Edges are given as a sequence (vector) of vectors, where one vector correspond to an edge. In this vector, indexes 0 and 1 contain the nodes which are connected and index 2 contains the float value corresponding to the distance between these nodes measured in kilometers. Index 3 contains a hashmap with only one key <code>is_solution_path</code>, which maps to <code>true</code> if the corresponding edge is part of the shortest path between nodes named "START" and "END", else <code>false</code>. Below is the first edge in raw format and a table of all edges. </p>
    <br>
    <code>{{ edges|first }}</code>
    <br>
    <br>

    {% if edges|empty? %}
      <p>This graph has no edges.</p>
    {% endif %}

    <table class="table">
      <thead>
        <tr>
          <th>Node 1</th>
          <th>Node 2</th>
          <th>Distance</th>
          <th>In shortest path</th>
        <tr>
      </thead>
      <tbody>
        {% for edge in edges %}
        <tr>
          <td>{{ edge.0.name }}</td>
          <td>{{ edge.1.name }}</td>
          <td>{{ edge.2|double-format:2 }}</td>
          {% if {{ edge.3.is_solution_path }} %}
            <td>true</td>
          {% else %}
            <td>false</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <br>
  </div>
</div>
{% endblock %}
