{% extends "index.html" %}

{% block script_imports %}
<script src="js/threejs/libs/three.min.js"></script>
<script src="js/threejs/libs/dat.gui.min.js"></script>
<script src="js/threejs/libs/OrbitControls.js"></script>
<script src="js/threejs/libs/Detector.js"></script>
<script src="js/threejs/libs/stats.min.js"></script>
<!--<script src="js/vendor/jquery-ui.min.js"></script>-->

<link rel="stylesheet" type="text/css" href="css/custom.css"/>

{% endblock %}

{% block main_container %}
<div id="graphics-container">
  <!-- Append a dat GUI instance to the right upper corner -->
  <div id="gui-container"></div>
  <!-- Append fps counter to the left upper corner -->
  <div id="stats-container"></div>

    <!-- Append the threejs canvas below the navbar -->
    <script src="js/threejs/graphicsMain.js"></script>
  </div>
</div>
{% endblock main_container %}
