/* Override bootstrap navbar styling. */
.navbar {
  margin-bottom: 0; /* remove space between canvas and navbar */
  border-radius: 0; /* make navbar corners straight */
}

/* Destroy all happiness and joy. */
body {
  background-color: #333;
}


body#home-body {
  background-image: url("../img/earth-space.jpg");
}

/* no js warning styling from stackoverflow */
#noscript-warning {
    font-family: sans-serif;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    color: #FFF;
    background-color: #AE0000;
    padding: 5px 0 5px 0;
}

/* Make text pages clean by using one centered column
 * with text justified evenly into the edges. */

.text-page-container {
  position: relative;
  top: 40px;
  width: 80%;
  max-width: 450px;
  margin: 0 auto;
}

.text-page-container p, h2, h3, h4, h5, code, td, th, dt, dd, li {
  color: #ccc;
}

.text-page-container p {
  text-align: justify;
}

.text-page-container code, th {
  background-color: #333;
}

.text-page-container td {
  background-color: #444;
}


.home-page-container {
  position: absolute;
  left: 10%;
  top: 40%;
}

.home-page-container .jumbotron {
  background-color: transparent;
}

/* Append the ThreeJS canvas below the navbar */
#graphics-container {
  position: relative;
  width: 100%;
  height: 100%;
}
/* Append a dat GUI instance to the right upper corner */
#gui-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
/* Append eventual error messages to the left upper corner */
#error-msg-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#error-msg-container .error-list {
  list-style-type: none;
  padding: 10px 10px;
}
#error-msg-container .error-list li {
  font-size: 120%;
  color: #f00;
}
